include ../nav/nav.pug
include ../user-panel/user-panel.pug

mixin header(data)
    .header
        if (data !== 'index')
            .header__nav
                +nav(nav)
        
        .header__user-panel
            +user-panel()