include ../logo/logo.pug
include ../share/share.pug
include ../menu-toggle/menu-toggle.pug

mixin aside(data)
    aside.aside
        .aside__logo
            +logo()
        
        .aside__menu-toggle
            +menu-toggle()
        
        .aside__share
            +share()