.menu-toggle{
  padding: 0;
  width: em(25px);
  height: em(25px);
  background: none;
  border: 0;
  outline: 0;

  &--active{
    .menu-toggle__line{
      &:nth-child(1){
        &:before{
          width: 30%;
        }
      }
      
      &:nth-child(2){
        &:before{
          width: 50%;
        }
      }
  
      &:nth-child(3){
        &:before{
          width: 70%;
        }
      }
    }
  }

  &__line{
    position: relative;
    margin: 0 0 em(7px);
    display: block;
    width: 100%;
    height: em(2px);
    background: #000;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 0;
      background: #edeef0;
      transition: 0.3s ease-in-out;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}