.sections{
  padding: em(25px) 0;
  height: 100vh;

  &__slider{
    height: 100%;
  }

  &__nav{
    position: absolute;
    right: 0;
    top: 50%;
    width: em(120px);
    height: em(390px);
    transform: translate3d(0, -50%, 0);
  }

  &__slide{
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-slide-active{
      .sections__photo{
        border-color: #242424;
        cursor: default;
        transform: scale(1);
      }
    }
  }
  
  &__photo{
    padding: em(14px);
    width: 100%;
    height: 100%;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(0.8);
    transition: 0.25s ease-in-out;
  }

  &__preview{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
  }
}