include ../section/section.pug

mixin sections(data)
    .sections
        .sections__slider.swiper-container
            .sections__wrapper.swiper-wrapper
                each item in data
                    .sections__section.swiper-slide
                        +section(item)
            
            .sections__nav.swiper-container
                .sections__wrapper.swiper-wrapper
                    each item in data
                        .sections__slide.swiper-slide
                            .sections__photo
                                .sections__preview
                                    img.sections__img(src=item.photo, alt="")