.button{
  position: relative;
  padding: em(19px, 12px) em(20px, 12px) em(18px, 12px);
  display: inline-block;
  color: #222;
  font-size: em(12px);
  font-weight: 400;
  line-height: 1;
  letter-spacing: em(0.96px, 12px);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #242424;
  white-space: nowrap;
  vertical-align: middle;
  transition: 0.2s ease-in-out;

  &:hover{
    color: #fff;
    background: #242424;
  }

  &__icon{
    position: relative;
    top: 1px;
    margin-left: 15px;
    display: inline-block;
    width: 22px;
    border-bottom: 2px solid;
    vertical-align: middle;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-right: em(-2px, 12px);
      margin-bottom: em(-2px, 12px);
      border-right: em(8px, 12px) solid transparent;
      border-left: 0 solid transparent;
      border-bottom: em(7px, 12px) solid;
    }
  }

  &-darken{
    color: #fff;
    background-color: #242424;

    &:hover{
      color: #242424;
      background: transparent;
    }
  }
}