mixin button(data, type)
    if (type === 'link')
        a.button(href=data.url, title=data.text, class=(data.darken) ? 'button-darken' : 'button-default')= data.text
            i.button__icon
    
    else
        button.button(class=(data.darken) ? 'button-darken' : 'button-default')= data.text
            i.button__icon