.socials{
  &__label{
    margin-right: em(30px, 16px);
    font-size: em(16px);
  }

  &__link{
    margin-right: em(30px);
    color: inherit;
    text-decoration: none;

    &:last-child{
      margin-right: 0;
    }
  }
}