mixin socials(data, label)
    .socials
        if (label === true)
            span.socials__label IVVH в соцсетях:

        each item in data
            a.socials__link(href="#", title=item.title)
                i.fa(class="fa-" + item.icon)