.share{
  display: inline-block;
  width: em(44px);
  height: em(44px);
  background: url(../img/general/share.png) center no-repeat;
  background-size: em(24px) em(25px);
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.3s ease-in-out;

  &:hover{
    background-color: #f5f6f8;
  }
}