.footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  height: em(110px);

  &__button{
    margin-left: em(30px);
    width: em(60px);
    height: em(60px);
    background: #f5f6f8 url(../img/general/grid.png) center no-repeat;
    background-size: em(12px);
    border: 0;
    outline: 0;
    border-radius: 50%;
  }
}