.logo{
  width: em(70px);
  height: em(70px);
  background-color: #010101;

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
  }
}