.user-panel{
  display: flex;
  align-items: center;
  
  font-size: em(15px);
  font-weight: 500;

  &__item{
    &:not(:last-child){
      margin-right: em(20px, 15px);
      padding-right: em(20px, 15px);
      background: url(../img/general/delimiter.png) right center no-repeat;
    }
  }

  &__phone{
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: none;

    &:before{
      content: '';
      position: relative;
      top: em(-1px, 15px);
      display: block;
      margin-right: em(15px, 15px);
      width: em(20px, 15px);
      height: em(20px, 15px);
      background: url(../img/general/phone.png) no-repeat;
      background-size: em(20px, 15px);
    }
  }

  &__signin{
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: none;

    &:before{
      content: '';
      position: relative;
      top: em(-2px);
      margin-right: em(15px, 15px);
      width: em(18px, 15px);
      height: em(18px, 15px);
      background: url(../img/general/user.png) no-repeat;
      background-size: em(18px, 15px);
    }
  }

  &__record{
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: none;

    &:after{
      content: '';
      margin-left: em(13px);
      width: em(62px, 15px);
      height: em(62px, 15px);
      background: #242424 url(../img/general/calendar.png) center no-repeat;
      background-size: em(18px, 15px);
      border-radius: 50%;
    }
  }
}