mixin user-panel(data)
    .user-panel
        .user-panel__item.user-panel__item--phone
            a.user-panel__phone(href="tel:84952233337", title="Позвонить") 8 (495) 223-33-37
        
        .user-panel__item.user-panel__item--signin
            a.user-panel__signin(href="#", title="Войти") Войти

        .user-panel__item.user-panel__item--record
            a.user-panel__record(href="#", title="Онлайн-запись") Онлайн-запись