.section{
  position: relative;
  height: 100%;
  overflow: hidden;

  &__container{
    display: flex;
    flex-wrap: wrap;

    height: 100%;
  }

  &__photo{
    position: relative;
    z-index: 1;
    width: 41%;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: em(315px);
      background: #f5f6f8;
    }
  }

  &__img{
    height: 100%;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
  }

  &__content{
    display: flex;
    align-items: center;
    
    position: relative;
    z-index: 2;
    padding: em(140px) em(200px) em(140px) em(165px);
    width: 59%;

    &:before, &:after{
      @extend %dots;
    }

    &:before{
      top: em(15px);
      left: em(170px);
    }

    &:after{
      left: em(330px);
      bottom: em(2px);
    }
  }

  &__label{
    margin: 0 0 em(10px);
  }
  
  &__heading{
    margin: 0 0 em(30px, 48px);
  }

  &__caption{
    margin-bottom: em(20px, 18px);
    max-width: em(660px);
  }

  &__buttons{
    display: flex;

    margin-top: em(30px);
  }

  &__button{
    margin-right: em(20px);

    &:last-child{
      margin-right: 0;
    }
  }
}