include ../button/button.pug

mixin section(data)
    section.section
        .container.section__container

            .section__photo
                .section__img(style="background-image: url(" + data.photo + ")", data-swiper-parallax-y="50%")

            .section__content
                .section__inner(data-swiper-parallax-y="-75%", data-swiper-parallax-duration="1200")
                    if (data.label)
                        p.label.section__label= data.label
                    
                    if (data.heading)
                        h2.heading.section__heading= data.heading
                    
                    if (data.excrept)
                        .caption.caption--strong.section__caption
                            p= data.excrept
                    
                    if (data.caption)
                        .caption.section__caption
                            p= data.caption
                    
                    if (data.buttons)
                        .section__buttons
                            each button in data.buttons
                                .section__button
                                    +button(button, 'link')