doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/aside/aside.pug
    include ../components/menu/menu.pug
    include ../components/sections/sections.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page.page--index

        .page__aside
            +aside()
        
        .page__menu
            +menu(menu)
        
        .page__inner
            .page__header
                +header('index')

            .page__main
                main.main
                    .main__sections
                        +sections(sections)

            .page__footer
                +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')