doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/aside/aside.pug
  include ../components/menu/menu.pug
  include ../components/tests/tests.pug
  include ../components/button/button.pug
  include ../components/footer/footer.pug

  head
    +head(head.defaults)
  body.page

    .page__aside
      +aside()

    .page__menu
      +menu(menu)

    .page__inner
      .page__header
        +header()

      .page__main
        main.main
          .main__info
            .main__top
              h1.main__heading Услуги тестирования

              .main__caption
                p Составление полного свода персональных правил красоты для вашего типа внешности, профессиональные советы по уходу и подборка товаров. Красоты для вашего типа внешности, профессиональные советы по уходу.

            ol.list-ol.main__list-ol
              li.list-ol__item Выберите вид тестирования
              li.list-ol__item Пройдите тестирование у стилиста
              li.list-ol__item Получите данные в свой паспорт красоты
              li.list-ol__item Получите советы, товары и услуги
              li.list-ol__item Пользуйтесь паспортом у наших партнёров

            .main__slogan Познайте свою красоту и стиль

            .main__button
              +button({
                url: '#',
                text: 'О паспорте красоты',
                darken: true
              }, 'link')

          .content.main__content
              .content__tests
                +tests(tests)



      .page__footer
        +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')