// Common styles of the project

%dots{
    content: '';
    position: absolute;
    width: em(128px);
    height: em(72px);
    background: url(../img/general/grid-dots.png) center no-repeat;
}

*{
    box-sizing: border-box;

    &:before, &:after{
        box-sizing: inherit;
    }
}

p{
    &:first-child{
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}

html, body {
    height: 100%;
}

.page {
    position: relative;
    padding-left: em(120px);
    padding-right: em(60px);
    color: #222;
    font: 300 14px / 1.667 'Lato', sans-serif;
    overflow-x: hidden;

    &--index{
        padding-top: 0;
        padding-bottom: 0;

        .page__inner{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &--menu{
        overflow: hidden;

        .page__inner{
            transform: translate3d(1030px, 0, 0);
        }

        .page__menu{
            transform: translate3d(0, 0, 0);
        }
    }

    &__aside{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 4;
        width: em(120px);
        background: #fff;
        box-shadow: 0 14px 13px rgba(0, 0, 0, 0.18);
    }

    &__menu{
        position: fixed;
        top: em(25px);
        bottom: em(25px);
        left: em(120px);
        z-index: 3;
        padding-right: em(315px);
        width: 1030px;
        background: #fff;
        transition: 0.4s ease-in-out;
        transform: translate3d(-100%, 0, 0);

        &:before, &:after{
            @extend %dots;
        }
    
        &:before{
            top: em(2px);
            right: em(15px);
        }
    
        &:after{
            right: em(170px);
            bottom: em(2px);
        }
    }

    &__inner{
        position: relative;
        padding-top: em(110px);
        padding-bottom: em(110px);
        height: 100%;
        transition: 0.4s ease-in-out;
    }

    &__header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }

    &__main{
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &__footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
}

.label{
    font-size: em(18px);
    font-weight: 500;
}

.heading{
    font: 700 em(48px) 'Playfair', sans-serif;
    line-height: 1.16;
}

.caption{
    font-size: em(18px);

    &--strong{
        font-weight: 500;
    }
}

.list-ol{
    counter-reset: id;

    margin: 0;
    padding: 0;
    list-style: none;

    &__item{
        position: relative;
        margin-bottom: em(15px, 15px);
        padding-left: em(40px, 15px);
        font-size: em(15px);
        font-weight: 400;

        &:before{
            content: counter(id);
            counter-increment: id;
            position: absolute;
            top: -2px;
            left: 0;
            display: block;
            width: em(24px, 12px);
            height: em(24px, 12px);
            color: #fff;
            font-size: em(12px, 15px);
            line-height: em(26px, 12px);
            text-align: center;
            background-color: #13120e;
            border-radius: 50%;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.main{
    display: flex;

    min-height: 100%;

    &__sections{
        flex-basis: 100%;
    }

    &__section{
        width: 100%;
    }

    &__info{
        display: flex;
        flex-direction: column;
        flex-basis: em(440px);
        justify-content: space-between;

        padding: em(50px) em(45px) em(30px);
        background-color: #f5f6f8;
    }

    &__heading{
        margin: 0 0 em(25px, 36px);  
        font: 700 em(36px) 'Playfair', serif;
        line-height: 1.27;
    }

    &__list-ol{
        margin: em(25px) 0;
    }

    &__slogan{
        margin: 0 0 em(30px, 22px);
        font: italic 700 em(22px) 'Playfair', sans-serif;
        line-height: 1.16;
    }

    &__button{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: em(4px);
            right: 0;
            display: block;
            width: em(86px);
            height: em(44px);
            background: url(../img/general/grid-dots.png);
        }
    }

    &__content{
        flex: 1;
    }
}

.content{
    &__tests{
        height: 100%;
    }
}