// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin include-font($font-family, $font-path, $font-name, $font-weight, $font-style){
  font-family: $font-family;
  src: url($font-path + '/' + $font-name + '.ttf') format('ttf'),
      url($font-path + '/' + $font-name + '.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/' + $font-name + '.woff') format('woff'),
      url($font-path + '/' + $font-name + '.svg#' + $font-name) format('svg');
  font-weight: $font-weight;
  font-style: $font-style;
}

$browser-context: 14;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}