.tests{
  position: relative;
  height: 100%;

  &__grid{
    display: flex;
    flex-wrap: wrap;
    
    height: 100%;
  }

  &__column{
    flex-basis: 33.3334%;
    height: 50%;
  }

  &__more{
    position: relative;
    padding: em(45px);
    min-height: 100%;
    background: #f5f6f8;
  }

  &__heading{
    margin: 0 0 em(25px, 24px);
    font: 700 em(24px) 'Playfair', sans-serif;
    line-height: 1.416;
  }

  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: em(29px, 15px) em(90px, 15px) em(29px, 15px) em(45px, 15px);
    color: inherit;
    font-size: em(15px);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__icon{
    position: absolute;
    top: 50%;
    right: em(45px);
    margin-top: em(1px);
    margin-left: auto;
    display: inline-block;
    width: em(22px);
    border-bottom: em(2px) solid;
    vertical-align: middle;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-right: em(-2px);
      margin-bottom: em(-2px);
      border-right: em(8px) solid transparent;
      border-left: 0 solid transparent;
      border-bottom: em(7px) solid;
    }
  }
}