include ../test-card/test-card.pug

mixin tests(data)
    .tests
        .tests__grid
            each item in data
                .tests__column
                    +test-card(item)
                
            .tests__column
                .tests__more
                    h3.tests__heading Узнайте всё о своей персональной красоте
                    .tests__caption
                        p Исходя из опроса и ваших желаний, мы посоветуем вам первоочередное тестирование, для обретения гармонии красоты.
                    a.tests__title(href="#", title="Пройти опрос ваших желаний") Пройти опрос ваших желаний
                        i.tests__icon