mixin nav(data, type)
    nav.nav
        ul.nav__list(class=(type === 'vertical') ? "nav__list--vertical" : "")
            each item in data
                li.nav__item
                    a.nav__link(href=item.url, title=item.title)= item.title