.nav{
  &__list{
    display: flex;
    
    margin: 0;
    padding: 0;
    list-style: none;

    &--vertical{
      flex-direction: column;

      .nav__item{
        margin-bottom: em(8px);
        margin-right: 0;
      }

      .nav__link{
        font-size: em(18px);
      }
    }
  }

  &__item{
    margin-right: em(45px);

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__link{
    color: inherit;
    font-size: em(15px);
    font-weight: 400;
    text-decoration: none;
  }
}