.test-card{
  display: flex;

  position: relative;
  min-height: 100%;

  &__link{
    flex: 1;

    position: relative;
    color: inherit;
    text-decoration: none;
    background-size: cover;
    background-position: center top;
  }

  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: em(29px, 15px) em(90px, 15px) em(29px, 15px) em(45px, 15px);
    font-size: em(15px);
    font-weight: 700;
    line-height: 1;
    text-overflow: ellipsis;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
  }

  &__icon{
    position: absolute;
    top: 50%;
    right: em(45px);
    margin-top: em(1px);
    margin-left: auto;
    display: inline-block;
    width: em(22px);
    border-bottom: em(2px) solid;
    vertical-align: middle;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-right: em(-2px);
      margin-bottom: em(-2px);
      border-right: em(8px) solid transparent;
      border-left: 0 solid transparent;
      border-bottom: em(7px) solid;
    }
  }
}