mixin test-card(data)
    .test-card
        a.test-card__link(href="#", title=data.title, style="background-image: url("+ data.photo +")")
            span.test-card__title= data.title
                i.test-card__icon