include ../nav/nav.pug
include ../socials/socials.pug

mixin menu(data)
    .menu
        .menu__panel
            a.menu__panel-link(href="#", title=data.signin)= data.signin
            span.menu__panel-delimiter /
            a.menu__panel-link(href="#", title=data.signup)= data.signup
        
        .menu__content
            ul.menu__list
                each item in data.list
                    li.menu__item
                        a.menu__link(href=item.url, title=item.title)= item.title
            
            .menu__nav
                +nav(nav, 'vertical')
        
        .menu__socials
            +socials(socials)