.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: em(50px) em(70px) em(25px);
  height: 100%;
  color: #7c7d81;
  background: #f5f6f8;

  &__panel{
    display: flex;
    align-items: center;

    margin-bottom: em(20px);
    line-height: 1;

    &:before{
      content: '';
      position: relative;
      top: em(-1px);
      margin-right: em(15px);
      width: em(18px);
      height: em(18px);
      background: url(../img/general/user.png) no-repeat;
      background-size: em(18px);
      opacity: 0.5;
    }

    &-link{
      color: inherit;
      font-size: em(15px);
      text-decoration: none;
      border-bottom: 1px solid;
    }

    &-delimiter{
      margin: 0 em(10px, 15px);
    }
  }

  &__list{
    margin: 0 0 em(45px);
    padding: 0;
    list-style: none;

    &:after{
      content: '';
      margin-top: em(50px);
      display: block;
      width: em(25px);
      border-bottom: 1px solid;
    }
  }

  &__item{
    margin-bottom: em(30px);

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__link{
    display: inline-flex;
    align-items: center;

    position: relative;
    color: inherit;
    font-size: em(30px);
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:before{
      content: '';
      display: block;
      width: 0;
      border-bottom: 3px solid;
      transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
    }

    &:hover, &--current{
      color: #222;

      &:before{
        margin-right: 10px;
        width: 8px;
      }
    }
  }

  &__socials{
    margin-top: em(20px);
  }
}